.jumbotron {
    color: #fff;
    background-position-y: 10%;
    color: #fff;
    background-color: skyblue;
}

div.panel-body {
    background-image: url('../images/USA-california-zephyr.jpg');
    color: #fff;
}

.btn-primary {
    background-color:  rebeccapurple;
    border-color: #fff;
    font-weight: bold;
}